<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--Fragment for other type events-->
<div  th:fragment="OtherEvent">
    <div class="eventOverview">
        <button class="btn btn-light eventOverview" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse'+ ${event.eventId}" aria-expanded="false" th:aria-controls="'collapse'+ ${event.eventId}">
                <span th:text="${event.eventType}"></span>
                <span class="eventTitle" th:text="${event.title}"></span>
            <div class="buttonHolder">
                <div class="editButton"
                     th:attr="data-eventdata=${event.eventType} + '!' + ${event.title} + '!' + ${event.startDate} + '!' + ${event.endDate} + '!' + ${event.notes}">
                    <img th:src="@{/images/pen-solid.svg}" class="eventButtons" />
                </div>
                <div class="deleteButton"
                     th:attr="data-eventdata=${event.title}"
                     th:data-parent-id="|${event.title}${event.eventId}|">
                    <img th:src="@{/images/trash-can-regular.svg}" class="eventButtons" />
                </div>
            </div>
        </button>
    </div>

    <div class="collapse" th:id="'collapse'+ ${event.eventId}">
        <div class="card card-body eventDetailsBox">
            <div class="eventPiece" th:text="'Start Date: '+${event.startDate}"></div>
            <div class="eventPiece" th:text="'End Date: '+${event.endDate}"></div>
            <div class="eventPiece" th:text="'Notes: '+${event.notes}"></div>
        </div>
    </div>

</div>

<!--Fragment for Job type events-->
<div  th:fragment="JobEvent">
    <div class="eventOverview">
        <button class="btn btn-light eventOverview" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse'+ ${event.eventId}" aria-expanded="false" th:aria-controls="'collapse'+ ${event.eventId}">
                <span type="text" th:text="${event.eventType}"></span>
                <span class="eventTitle" th:text="${event.title}"></span>

        </button>
    </div>

    <div class="collapse" th:id="'collapse'+ ${event.eventId}">
        <div class="card card-body eventDetailsBox">
            <div class="eventPiece" th:text="'Company: ' + ${event.company}"></div>
            <div class="eventPiece" th:if="${event.salary} == null" th:text="'Hourly Pay: ' + ${event.hourlyPay}"></div>
            <div class="eventPiece" th:if="${event.hourlyPay} == null" th:text="'Salary: ' + ${event.salary}"></div>
            <div class="eventPiece" th:text="'Start Date: '+${event.startDate}"></div>
            <div class="eventPiece" th:text="'End Date: '+${event.endDate}"></div>
            <div class="eventPiece" th:text="'Notes: '+${event.notes}"></div>
        </div>
    </div>

</div>

<!--Fragment for Pet type events-->
<div  th:fragment="PetEvent">
    <div class="eventOverview">
        <button class="btn btn-light eventOverview" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse'+ ${event.eventId}" aria-expanded="false" th:aria-controls="'collapse'+ ${event.eventId}">
                <span type="text" th:text="${event.eventType}"></span>
                <span class="eventTitle" th:text="${event.title}"></span>


        </button>
    </div>

    <div class="collapse" th:id="'collapse'+ ${event.eventId}">
        <div class="card card-body eventDetailsBox">
            <div th:text="${event.petType}"></div>
            <div class="eventPiece" th:text="'Start Date: '+${event.startDate}"></div>
            <div class="eventPiece" th:text="'End Date: '+${event.endDate}"></div>
            <div class="eventPiece" th:text="'Notes: '+${event.notes}"></div>
        </div>
    </div>

</div>


</body>
</html>