<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--Fragment for other type events-->
<div  th:fragment="OtherEvent">
    <div class="eventOverview">
            <button class="btn btn-light wideButton" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse'+ ${event.eventId}+${event.eventType}" aria-expanded="false" th:aria-controls="'collapse'+ ${event.eventId}+${event.eventType}">
                <span class="typeLabel" th:text="${event.eventType}"></span>
                <span class="eventTitle" th:text="${event.title}"></span>

            </button>
            <div class="buttonHolder">
                <img
                        th:src="@{/images/pen-solid.svg}"
                        th:attr="data-eventData=${event.eventType} + '!' + ${event.eventId} + '!' + ${event.title} + '!' + ${event.date} + '!' + ${event.notes}"
                        class="editButton"
                        data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                />
                <img
                        th:src="@{/images/trash-can-regular.svg}"
                        th:data-eventData="${event}"
                        th:data-parentid="|${event.title}${event.eventId}|"
                        class="deleteButton"
                />
            </div>
    </div>

    <div class="collapse" th:id="'collapse'+ ${event.eventId}+${event.eventType}">
        <div class="card card-body eventDetailsBox">
            <div class="eventPiece" th:text="${#dates.monthNameShort(event.date)}+' '+${#dates.day(event.date)}+', '+${#dates.year(event.date)}"></div>
            <div class="eventPiece" th:if="${event.notes} != ''" th:text="'Notes: '+${event.notes}"></div>
        </div>
    </div>

</div>

<!--Fragment for Job type events-->
<div  th:fragment="JobEvent">
    <div class="eventOverview">
        <button class="btn btn-light wideButton" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse'+ ${event.eventId}+${event.eventType}" aria-expanded="false" th:aria-controls="'collapse'+ ${event.eventId}+${event.eventType}">
                <span class="typeLabel" th:text="${event.eventType}"></span>
                <span class="eventTitle" th:text="${event.title}"></span>

        </button>
        <div class="buttonHolder">

            <img
                    th:src="@{/images/pen-solid.svg}"
                    th:attr="data-eventData=${event.eventType} + '!' + ${event.eventId} + '!'  + ${event.title} + '!' + ${event.date} + '!' + ${event.notes} + '!' + ${event.company} + '!' + ${event.salary} + '!' + ${event.hourlyPay}"
                    class="editButton"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop"
            />
            <img
                    th:src="@{/images/trash-can-regular.svg}"
                    th:data-eventData="${event}"
                    th:data-parentid="|${event.title}${event.eventId}|"
                    class="deleteButton"
            />

        </div>
    </div>

    <div class="collapse" th:id="'collapse'+ ${event.eventId}+${event.eventType}">
        <div class="card card-body eventDetailsBox">
            <div class="eventPiece" th:text="'Company: ' + ${event.company}"></div>
            <div class="eventPiece" th:if="${event.salary} == null" th:text="'Hourly Pay: ' + ${#numbers.formatCurrency(event.hourlyPay)}"></div>
            <div class="eventPiece" th:if="${event.hourlyPay} == null" th:text="'Salary: $' + ${event.salary}"></div>
            <div class="eventPiece" th:text="${#dates.monthNameShort(event.date)}+' '+${#dates.day(event.date)}+', '+${#dates.year(event.date)}"></div>
            <div class="eventPiece" th:if="${event.notes} != ''" th:text="'Notes: '+${event.notes}"></div>
        </div>
    </div>

</div>

<!--Fragment for Pet type events-->
<div  th:fragment="PetEvent">
    <div class="eventOverview">
        <button class="btn btn-light wideButton" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapse'+ ${event.eventId}+${event.eventType}" aria-expanded="false" th:aria-controls="'collapse'+ ${event.eventId}+${event.eventType}">
                <span class="typeLabel" type="text" th:text="${event.eventType}"></span>
                <span class="eventTitle" th:text="${event.title}"></span>
        </button>
        <div class="buttonHolder">
            <img
                    th:src="@{/images/pen-solid.svg}"
                    th:attr="data-eventData=${event.eventType} + '!' + ${event.eventId} + '!'  + ${event.title} + '!' + ${event.date} + '!' + ${event.notes} + '!' + ${event.petType}"
                    class="editButton"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop"
            />
            <img
                    th:src="@{/images/trash-can-regular.svg}"
                    th:data-eventData="${event}"
                    th:data-parentid="|${event.title}${event.eventId}|"
                    class="deleteButton"
            />
        </div>
    </div>

    <div class="collapse" th:id="'collapse'+ ${event.eventId}+${event.eventType}">
        <div class="card card-body eventDetailsBox">
            <div th:text="${event.petType}"></div>
            <div class="eventPiece" th:text="${#dates.monthNameShort(event.date)}+' '+${#dates.day(event.date)}+', '+${#dates.year(event.date)}"></div>
            <div class="eventPiece" th:if="${event.notes} != ''" th:text="'Notes: '+${event.notes}"></div>
        </div>
    </div>

</div>


</body>
</html>