.reverseOrder{
    display: flex;
    flex-direction: column-reverse;
}

.notesBox{
    margin-top: 10px;
}

/*.titleBox{*/
/*    outline: 1px solid black;*/
/*}*/
/*.dateBox{*/
/*    outline: 1px solid black;*/
/*}*/
/*.petTypeBox{*/
/*    outline: 1px solid black;*/
/*}*/
.indivEventBox{
    background: #9fc8d2;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}