
#formButton{
  font-family: 'Dosis', sans-serif;
}

h3 {
  font-family: 'Macondo', cursive;
}

#userControlBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.captionBackground{
  background: hsla(186, 31%, 50%, 0.5);
}

.card-title, .card-text{
  text-align: center;
}

.eventButtons{
  height: 30px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.eventOverview{
  display: flex;
  justify-content: space-between;
}

.buttonHolder{
  display: flex;
}

.editButton, .deleteButton{
  padding: 5px;
}