
#formButton{
  font-family: 'Dosis', sans-serif;
}

.captionBackground{
  background: hsla(186, 31%, 50%, 0.5);
}

.eventOverview{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.wideButton{
  width: 100%;
  display: flex;
}

.buttonHolder{
  display: flex;
}

.editButton, .deleteButton{
  padding: 5px;
  height: 35px;
  border: 2px solid red;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.editButton{
  border: 2px solid forestgreen;
}

.eventDetailsBox{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.eventPiece{
  width:fit-content;
  padding: 5px;
}

.eventTitle{
  font-weight: bolder;
  margin: auto;
}

.typeLabel{
  width: 25px;
}

.reverseOrder{
  display: flex;
  flex-direction: column-reverse;
}

#mainContainer{
  width: 70vw;
}